# Built outputs
**/build/
/captures

# Gradle
.gradle/
local.properties

# IDE - Android Studio / IntelliJ
*.iml
.idea/
!.idea/codeStyles/
!.idea/runConfigurations/

# OS
.DS_Store

# Native
.externalNativeBuild/
.cxx/

# Claude Code
CLAUDE.md
.claude/
